<link rel="shortcut icon" href="static/favicon.png">
<html>
<head>
    <style>
body {
  background-image: url("/static/imag/lucio.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  margin-right: 0px;
  background-size:120%;
  background-attachment:fixed;
}

    </style>
</head>
</html>

{% extends 'layout.html' %}
{% block conteudo %}
<title>Eliminar Conta</title>

<center>
    <br>
    <br>
    <br>
    <font color="black">
        <h1>Alterar a Palavra-Passe</h1>
        <form method="post">
            <fieldset>
                <h3>Utilizador</h3>
                <input type="text" name="usr" required>
                <p><br></p>
                <h3>Palavra-Passe</h3>
                <input type="password" name="pwd" required>
                <p><br></p>
                <input type="submit" value="Eliminar">
            </fieldset>
        </form>
        {% if erro %}
        <h3>{{ erro }}</h3>
        {% endif %}
    </font>
</center>
{% endblock %}
