<link rel="shortcut icon" href="static/favicon.png">
<html>
<head>
    <style>
body {
  background-image: url("/static/genji.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  margin-right: 0px;
  background-size:117.7%;
  background-attachment:fixed;
}


    </style>
</head>
</html>

{% extends 'layout.html' %}
{% block conteudo %}
<br>
<br>
<br>
<br>
<br>
<p><br></p>
<br>
<center>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/XrGlvK0zKNA" frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</center>


{% endblock %}
